<h1>Contact Us</h1>
<p>Combat2Career is based out of the greater Hartford, Connecticut area. We can be reached by email at <a href="mailto:info@combat2career.com">info@combat2career.com</a>, by phone at <a href="tel:+18009844582">1-800-984-4582</a>, or you may use the contact form below.</p>

<%= render 'form' %>