<div class="clearfix">
  <h1>About Us</h1>
  <p>C2C, LLC DBA Combat2Career® (C2C) is a Connecticut-based technology start-up venture founded in May 2011 by Meghan Brunaugh and Charlotte Creech to assist military members and veterans in the pursuit of higher education and the transition to civilian careers.</p>
  <%= image_tag "C2C-Portal-Features.png", id: "c2c-features" %>
  <p>C2C advocates that the pathway to a civilian career is through education. Through its web-based portal, C2C assists veterans in their transition from military to civilian careers by matching them with higher education programs that best suit their individual needs and goals, and by assisting current veteran students and recent graduates in securing internships and full-time job opportunities at companies seeking to recruit qualified veteran candidates. In addition to offering a veteran-specific college search and career portal, C2C provide veteran students with a social networking community, facilitating interactions with higher education, industry, and other veterans. The company provides these services free-of-charge to veterans through partnerships formed with higher education institutions and business subscriptions.</p>
  <p>Through its online community of veterans, higher education programs, and businesses, C2C’s portal helps current and prospective veteran students navigate the resources and information they need to make a successful transition from combat 2 college 2 career.</p>
</div>
<h1>Mission Statement</h1>
<p>To facilitate a connection between military members, colleges and universities, and civilian businesses as a means to open the door to higher education opportunities for veterans, and to design and deliver applications and programs to assist veterans in the many steps and activities associated with the transition from combat 2 college 2 career and beyond.</p>
<h1>Meet the C2C Team</h1>
<div class="clearfix">
  <h4>Meghan Brunaugh, Co-Founder</h4>
  <%= image_tag "Meghan-Brunaugh-Headshot.jpg", class: "founder-picture" %>
  <p><b>Hometown:</b> Chicago, IL</p>
  <p><b>Service record:</b> Meghan is a Coast Guard veteran with an undergraduate degree from the United States Coast Guard Academy and an MBA degree from the University of Connecticut. Previously, Meghan worked as an Educational Services Officer in the U.S. Coast Guard and as an admissions professional at one of the military academies. In addition, Meghan worked with the UConn Entrepreneurship Bootcamp for Veterans with Disabilities (EBV), assisting disabled veterans in working to launch their own businesses. From her experience as a veteran and higher education admissions professional, Meghan conceived the concept for C2C.</p>
</div>
<div class="clearfix">
<h4>Charlotte Creech, Co-Founder</h4>
<%= image_tag "Charlotte-Creech-Headshot.jpg", class: "founder-picture" %>
<p><b>Hometown:</b> Granby, CT </p>
<p><b>Service record:</b> Charlotte is the proud spouse of an Air Force veteran who served from 2001-2005 (active duty) and 2006-2009 (USAF reserves), including a deployment to Kirkuk, Iraq.</p>
<p>Charlotte has a Bachelor of Science in Business Management from Bentley University and an MBA from the University of Connecticut. Her previous experience includes working as a strategic marketing and business consultant for a wide variety of companies, ranging from a technology start-up to a multinational manufacturer of military applications. As a veteran spouse, Charlotte also has a keen understanding of the challenges facing separating military members and veterans, especially when it comes to pursuing higher education. While her spouse was applying to college after separating from the Air Force, Charlotte witnessed firsthand the lack of services and information available to veterans, an observation which has helped shape the vision for C2C as an online application to fill an existing gap in the marketplace.</p>
</div>
