<h1>Employers</h1>
<p>Interested in recruiting skilled veteran employees to your workforce but don’t know where to find them? Combat2Career’s exclusive web-based portal and social community was designed with your needs in mind. We understand how difficult it can be to locate and recruit veteran candidates that match the positions you are trying to fill. Further, we recognize that it can be challenging for civilian recruiting managers and employees to relate to military experience or understand the value that veterans can bring to the workforce. That’s why we’ve developed a robust set of tools and training programs to facilitate the hiring process and ensure your company has the programs and resources needed to ensure the long-term success of your veteran employees. In addition to providing subscribing companies with direct access to veteran students and graduates from higher education programs across the country, Combat2Career can provide the following:</p>
<ul>
  <li>Education on benefits of veteran hiring</li>
  <li>Instruction and sensitivity training on how to translate and relate to military experience</li>
  <li>Sourcing and recruitment of skilled veteran interns and employees</li>
  <li>Coaching on methods to increase veteran employee retention</li>
  <li>Assistance claiming federal and state tax credits of up to <b>$9,600</b> for veteran hires</li>
</ul>
<p>Contact us at <a href="mailto:info@combat2career.com">info@combat2career.com</a> or <a href="tel:+18009844582">1-800-984-4582</a> to find out how we can assist you in developing your veteran recruitment and retention strategy.</p>