<h1>Welcome to Combat2Career</h1>
<p>Combat2Career® assists military members and veterans in the pursuit of higher education and the transition to civilian careers through connections with colleges and businesses and a dynamic community of supporters.</p>
<p>To get started, select a button on the right that best applies to you.</p>