<h1>Welcome, Veteran Supporters!</h1>
<p>Here’s how you can team up with Combat2Career to support our nation’s heroes:</p>
<ol>
  <li>Register as a user and join our social community as a mentor to coach prospective and current veteran students through their transition from the military to higher education and civilian careers.</li>
  <li>Sign up your veteran service organization or 501(c)(3) not-for-profit organization to promote the free services and resources you offer to veterans.</li>
</ol>
<p>Our supporter portal is coming soon! Please register as a user and we will notify you as soon as our supporter services are available. Please contact us for more information at: <a href="mailto:info@combat2career.com">info@combat2career.com</a> or <a href="tel:+18009844582">1-800-984-4582</a>.</p>