<h1>Welcome, Military Members and Veterans</h1>
<p>The decision to leave the military is difficult, but the process to begin again in the civilian world will be a bigger challenge. Luckily, there are resources available to help the transition, and your best advice will come from those that have gone before you and are now as successful out of uniform as they were in the field.Combat2Career is here to help you connect with those individuals–at colleges, companies, and in your community.</p>
<p>Let us help you get started in your post-military career by guiding you through the features our site has to offer:</p>
<ul>
<li><b>Get an Education: </b>Interested in going to school but not sure which program is right for you? Want to know how much your Post-9/11 GI Bill will cover in education expenses? Our custom college search engine and GI Bill calculator will help match you with the program that best fits your needs as a veteran student.</li>
<li><b>Get an Job: </b>Need help creating a civilian resume that will translate your military skills and experience for employers? Want to locate internships and full-time jobs at companies that are specifically seeking to hire veteran candidates like you? Our resume builder and job board will help you achieve your post-graduate career ambitions.</li>
<li><b>Join our Social Network: </b>Looking to connect with other veterans who have successfully made the transition from combat to college to career and beyond? Need coaching from college representatives, employers, and community members? Our network of veterans, higher education representatives, business professionals and supporters is waiting for you.</li>
</ul>
<p><b>Register</b> as a veteran user today to take advantage of these FREE services and more.</p>