#c2c-features {
	float:right;
	width: 309px;
	height: 278px;
	margin-left: 25px;
	margin-bottom: 15px;
}



.founder-picture {
	width: 125px;
	height: 179px;
	margin-right: 25px;
	margin-bottom: 15px;
	float: left;
}