/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
 *= require_tree .
 */


@import "font-awesome";


// form error styling
#error_explanation {
  color: #b94a48;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
	color: #b94a48;
	input, textarea {
		border-color: #b94a48;
	}
 }

.help-inline {
	color: #b94a48;
	margin-top: -30px;
	padding-top: 5px;
	padding-left: 0;
}

// map styling
#map {
	width: 100%;
	max-width: 600px;
	min-height: 300px;
	margin: 0 0 1% 0;
}

#school-search{
	width: 250px;
	float: left;
	padding: 15px;
	margin-right: 30px;
	border: solid lightgrey 1px;
	border-radius: 3px;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
}

// nav styling
.nav {
	padding-top:20px;
}

.service-status {
width: 16px;
height: 16px;
}
